In [61]:
import torch
import pandas as pd

a = [['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c'] ]
df = pd.DataFrame(a, index=[1,2,3, 4], columns=['s', 'd', 'f'])
df

   s  d  f
1  a  b  c
2  a  b  c
3  a  b  c
4  a  b  c

In [62]:
json = df.to_json('a.json')

In [63]:
df.columns.to_numpy(dtype=str)

array(['s', 'd', 'f'], dtype='<U1')

In [64]:
df.loc[:, 's'].unique().astype(str)

array(['a'], dtype='<U1')

a[1]

In [65]:
len(df)

4

In [66]:
(a, b, c) = df.iloc[0,:]
(a, b, c)

('a', 'b', 'c')

In [67]:
item['s']

'a'

In [69]:
from dataset import Dataset

In [70]:
dataset  = Dataset(df)

In [71]:
dataset.get_labels()

['a']

In [72]:
dataset